body {
    font-size: 14px;
    font-family: "roboto", sans-serif;
    letter-spacing:  10px;
    color: var(--body-color);
    background:var(--background-1);    
}

:root {
    --body-color:         #212121;
    --background-color:   #ffffff;
    --background-botton:  #F5F4FA;
    --gray-color:         #757575;
    --background-2:       #2F303A;
    --hover-color:        #2196F3;
}


.list{
    list-style: none;
}
a,button{
    text-decoration: none; 
    cursor: pointer;
}

/* ----------cabecera---------- */

.link, .select:active{ /*color de seleccion de pagina html*/
    color: var(--hover-color);
}

.logo{ 
    color: var(--hover-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.03em;
}

.nav-link{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    align-items: center;
}

.nav-contact{  /* estilos de correo y telefono*/
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}
.nav-link:visited{
    color: var(--body-color);
}
.nav-link:hover,.nav-contact:hover,
.nav-link:focus,.nav-contact:focus {
    text-decoration: underline ;
    color: var(--hover-color);
}
.button-index {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    background: var(--background-botton);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    letter-spacing: 0.06em;
}
button:hover,button:focus,button:active {
    color: var(--background-1);
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
}

/* ----------Main---------- */
.section-Title {
    text-align: center;
    color: var(--background-color);
    background-color: var(--background-2);
    font-weight: 900;
    font-size: 44px;                    
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}



/* ----------Seccion caracteristicas---------- */

.title-characters{
    width: 270px;
    height: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.description{
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

/* ----------Nuestro equipo---------- */
.business{
    background: var(--background-botton);
}
.miembro-equipo{
    width: 270px;
    height: 368px;
    left: 208px;
    top: 1696px; 
    background: var(--background-1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;   
    margin: 10px;
}

/*  ----------Nombre del empleado--------- */
.name-business{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ----------Cargo del empleado---------- */
.position-business{
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}


/* ----------Footer---------- */
.nav-footer{
    background: var(--background-2);
    padding: 60px;
}

.nav-footer-list{
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--gray-color);
}

.nav-footer-list:hover,.nav-footer-list:focus{
    text-decoration: underline;
    color: var(--hover-color);
}

.nav-footer-dir{
    text-decoration: none;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--background-color);
}

/*----------Portafolio----------*/
/* ----------Botones portafolio---------- */

.button-briefcase {
    width: 128px;
    height: 38px;
    border: none;
    left: calc(50% - 128px/2 - 160px);
    top: calc(50% - 38px/2 - 735px); 
    background: var(--background-botton);
    border-radius: 4px;
}

.button-briefcase:hover {
    background: var(--hover-color);
}

/* ----------Cuerpo portafolio---------- */

.container {
    margin: 30px;  
    box-sizing: border-box;
    width: 370px;
    height: 404px;
    left: calc(50% - 370px/2 - 400px);
    top: calc(50% - 404px/2 - 464px);
    background: var(--background-1);
    border: 1px solid var(--background-botton);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.name-container {
    width: 322px;
    height: 36px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.description-contanier {
    width: 322px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:var(--gray-color);
}