body {
    /* width: 1600px;
    height: 2410px; */
    font-size: 14px;
    font-family: "roboto", sans-serif;
    letter-spacing:  10px;
    color: var(--body-color);
    background:var(--background-1);    
}

:root {
    --body-color:         #212121;
    --background-color:   #ffffff;
    --background-botton:  #F5F4FA;
    --gray-color:         #757575;
    --background-2:       #2F303A;
    --hover-color:        #2196F3;
}

/* header, nav{
display: inline-flex;
}
.nav-list{
    display: inline-flex;
}
.contact-list{
    display: inline-flex;
} */

.list{
    list-style: none;   
}

.logo,.nav-list-link, .contact-list-link, .footer-contact-list-item{
    text-decoration: none;
}

/* ----------cabecera---------- */
.logo {
    color: var(--hover-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-align: right;
    letter-spacing: 0.03em;
}

.nav-list-link{
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    align-items: center;
    color: var(--body-color);
}

.select { /*color de seleccion de pagina html*/
    color: var(--hover-color);
} 

.contact-list-link{  /* estilos de correo y telefono*/
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--gray-color);
}

.link:hover,.link:focus {
    color: var(--hover-color);
}

/* ----------Main---------- */
/* .products-list,.Characters-list,.team-list {
    display: flex;      
} */

/* seccion titulo */

.section-title{
    text-align: center;
    background: var(--background-2);
    letter-spacing: 0.06em;
}
.page-title {
    color: var(--background-color);
    font-weight: 900;
    font-size: 44px;                    
    line-height: 1.3;
    text-transform: uppercase;
}

.button-index {
    cursor: pointer;
    font-family: inherit;
    border: none;
    border-radius: 4px;
    color: var(--background-color);
    background-color: var(--hover-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}

.button-index:hover, .button-index:active, .button-index:focus,
.briefcase-list-button:hover,.briefcase-list-button:hover,.briefcase-list-button:active{
    text-shadow: 2px 2px 20px var(--background-color), 5px 5px 5px var(--body-color);
}

.name-section{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ----------Seccion caracteristicas---------- */

.Characters-list{
    letter-spacing: 0.03em;
}

.characters-list-title{
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}

.charecters-list-text{
    line-height: 1.7;
    color: var(--gray-color);
}

/* ----------Nuestro equipo---------- */
.team{
    background: var(--background-botton);
    letter-spacing: 0.03em;
}
.team-list{
    text-align: center;
    background: var(--background-1); 
}

.team-list-img{
    background-color: var(--background-color);
    /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
    /* border-radius: 0px 0px 4px 4px; */
}

.team-list-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-list-text{
    font-size: 16px;
    line-height: 1.2;
    color: var(--gray-color);
}


/* ----------Footer---------- */
.footer-contact{
    background: var(--background-2);
    letter-spacing: 0.03em;
}

.footer-contact-list-dir {
    text-decoration: none;
    font-weight: 400;
    line-height: 1.2;   
    color: var(--background-color);
}

.footer-contact-list-item{
    font-weight: 400;
    line-height: 1.2; 
    color: var(--gray-color);
}

.footer-contact-list-item:hover,.footer-contact-list.item:focus{
    color: var(--hover-color);
}

/* ------------------------------------------------------------------------------------------------------------ */

/*--------------------Portafolio--------------------*/

.briefcase-list-button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    /* left: calc(50% - 128px/2 - 160px);
    top: calc(50% - 38px/2 - 735px);  */
    background: var(--background-botton);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
}

.briefcase-list-button:hover,.briefcase-list-button:focus {
    background: var(--hover-color);
    color: var(--background-color);
}

.briefcase-list-item {
    /* box-sizing: border-box; */
    cursor: pointer;
    background: var(--background-1);
     border: 1px solid var(--background-botton); 
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}

.briefcase-list-title {
    font-weight: 700;
    font-size: 18px;    
    line-height: 2;
    letter-spacing: 0.06em;
}

.briefcase-list-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color:var(--gray-color);
}
